// variables
$red-color: hsl(0, 80, 50);
$orange-color: hsl(30, 80, 50);
$green-color: hsl(100, 80, 50);
$darken: 40;
$light-color: #707070;
$dark-color: #111;
// mixins
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .semaphore {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin semaphore-variant($color) {
  background-color: $color;
}

// styles
.semaphore-wrapper {
  @include aspect-ratio(1, 2);
  .semaphore {
    @include semaphore-variant($dark-color);
    width: 100%;
    height: 100%;
    border-radius: 10%;
  }
  .semaphore-variant-inverse {
    @include semaphore-variant($light-color);
  }
  .semaphore-twostate {
    .light-orange {
      display: none;
    }
    .light {
      margin: 30% auto;
    }
  }
  .light {
    margin: 13% auto;
    width: 50%;
    height: 25%;
    border-radius: 50%;
  }
  .light-red {
    background-color: darken($red-color, $darken);
    &.active {
      background-color: $red-color;
      box-shadow: 0px 0px 15px 2px rgba($red-color, 0.6);
    }
  }
  .light-orange {
    background-color: darken($orange-color, $darken);
    &.active {
      background-color: $orange-color;
      box-shadow: 0px 0px 15px 2px rgba($orange-color, 0.6);
    }
  }
  .light-green {
    background-color: darken($green-color, $darken);
    &.active {
      background-color: $green-color;
      box-shadow: 0px 0px 15px 2px rgba($green-color, 0.6);
    }
  }
}